{
  "openapi": "3.0.3",
  "info": {
    "title": "Agent Studio API - Alarms",
    "version": "1.0.0",
    "description": "Agent Studio RESTful API"
  },
  "servers": [
    {
      "url": "https://api.agent-studio.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Alarms",
      "description": "Instance alarm lifecycle"
    }
  ],
  "paths": {
    "/instances/{instanceId}/alarms": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "List alarms",
        "operationId": "listAlarms",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "severity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alarms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Alarm"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/alarms/{alarmId}/confirm": {
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Confirm alarm",
        "operationId": "confirmAlarm",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmActionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/alarms/{alarmId}/clear": {
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Clear alarm",
        "operationId": "clearAlarm",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alarmId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cleared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmActionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "total": {
            "type": "integer",
            "example": 100
          }
        },
        "required": [
          "limit",
          "offset",
          "total"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "CAPACITY_EXCEEDED"
              },
              "message": {
                "type": "string",
                "example": "Current steel amount exceeds capacity limit."
              },
              "details": {
                "type": "object"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Alarm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "alm_001"
          },
          "instanceId": {
            "type": "string",
            "example": "ladle_001"
          },
          "ruleId": {
            "type": "string",
            "example": "temperatureExceeded"
          },
          "severity": {
            "type": "string",
            "example": "warning"
          },
          "level": {
            "type": "integer",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "triggered"
          },
          "message": {
            "type": "string",
            "example": "\u6e29\u5ea6\u8d85\u8fc7\u9608\u503c1850\u2103\uff0c\u8bf7\u68c0\u67e5\u52a0\u70ed\u7cfb\u7edf"
          },
          "payload": {
            "type": "object",
            "example": {
              "variable": "temperature",
              "currentValue": 1850,
              "threshold": 1800,
              "unit": "\u2103"
            }
          },
          "triggeredAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-06-01T10:00:00Z"
          },
          "confirmedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "confirmedBy": {
            "type": "string",
            "nullable": true
          },
          "clearedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "clearedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-06-01T10:00:00Z"
          }
        },
        "required": [
          "id",
          "instanceId",
          "ruleId",
          "severity",
          "level",
          "status",
          "message",
          "triggeredAt",
          "createdAt"
        ]
      },
      "AlarmActionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "alarm": {
            "$ref": "#/components/schemas/Alarm"
          }
        },
        "required": [
          "success",
          "alarm"
        ]
      }
    }
  }
}