{
  "openapi": "3.0.3",
  "info": {
    "title": "Agent Studio API - Events",
    "version": "1.0.0",
    "description": "Agent Studio RESTful API"
  },
  "servers": [
    {
      "url": "https://api.agent-studio.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Instance event timeline"
    }
  ],
  "paths": {
    "/instances/{instanceId}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event timeline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "total": {
            "type": "integer",
            "example": 100
          }
        },
        "required": [
          "limit",
          "offset",
          "total"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "CAPACITY_EXCEEDED"
              },
              "message": {
                "type": "string",
                "example": "Current steel amount exceeds capacity limit."
              },
              "details": {
                "type": "object"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "evt_001"
          },
          "instanceId": {
            "type": "string",
            "example": "ladle_001"
          },
          "eventType": {
            "type": "string",
            "example": "state-change"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2024-06-01T10:00:00Z"
          },
          "payload": {
            "type": "object",
            "example": {
              "from": "empty",
              "to": "receiving",
              "trigger": "beginLoad"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-06-01T10:00:00Z"
          }
        },
        "required": [
          "id",
          "instanceId",
          "eventType",
          "timestamp",
          "createdAt"
        ]
      }
    }
  }
}