{
  "openapi": "3.0.3",
  "info": {
    "title": "Agent Studio API - Models",
    "version": "2.0.0",
    "description": "Agent Studio model metadata and v2 schema API."
  },
  "servers": [
    {
      "url": "https://api.agent-studio.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Models",
      "description": "Agent model metadata and schema definitions"
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "operationId": "listModels",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Create model",
        "operationId": "createModel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelId}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get model detail",
        "operationId": "getModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Models"
        ],
        "summary": "Update model",
        "operationId": "updateModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Delete model",
        "operationId": "deleteModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "total": {
            "type": "integer",
            "example": 100
          }
        },
        "required": [
          "limit",
          "offset",
          "total"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "INVALID_MODEL_SCHEMA"
              },
              "message": {
                "type": "string",
                "example": "Model schema validation failed."
              },
              "details": {
                "type": "object"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ladle"
          },
          "name": {
            "type": "string",
            "example": "ladle"
          },
          "title": {
            "type": "string",
            "example": "钢包智能体"
          },
          "filePath": {
            "type": "string",
            "example": "/models/ladle.json"
          },
          "groupName": {
            "type": "string",
            "example": "logistics"
          },
          "creator": {
            "type": "string",
            "example": "张三"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-06-01T10:00:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-11T10:00:00Z"
          },
          "version": {
            "type": "string",
            "example": "2.0"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "schema": {
            "$ref": "#/components/schemas/ModelSchema"
          }
        },
        "required": [
          "id",
          "name",
          "title",
          "filePath",
          "version",
          "isActive",
          "schema"
        ]
      },
      "ModelInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ladle"
          },
          "schema": {
            "$ref": "#/components/schemas/ModelSchema"
          }
        },
        "required": [
          "id",
          "schema"
        ]
      },
      "ModelSchema": {
        "type": "object",
        "description": "Complete model.json object. Must contain $schema=https://agent-studio.io/schema/v2",
        "properties": {
          "$schema": {
            "type": "string",
            "example": "https://agent-studio.io/schema/v2"
          },
          "metadata": {
            "type": "object"
          },
          "attributes": {
            "type": "object"
          },
          "variables": {
            "type": "object"
          },
          "derivedProperties": {
            "type": "object"
          },
          "rules": {
            "type": "object"
          },
          "functions": {
            "type": "object"
          },
          "services": {
            "type": "object"
          },
          "states": {
            "type": "object"
          },
          "transitions": {
            "type": "object"
          },
          "behaviors": {
            "type": "object"
          },
          "events": {
            "type": "object"
          },
          "alarms": {
            "type": "object"
          },
          "schedules": {
            "type": "object"
          },
          "goals": {
            "type": "object"
          },
          "decisionPolicies": {
            "type": "object"
          },
          "memory": {
            "type": "object"
          },
          "plans": {
            "type": "object"
          }
        },
        "required": [
          "$schema",
          "metadata"
        ],
        "example": {
          "$schema": "https://agent-studio.io/schema/v2",
          "metadata": {
            "version": "2.0",
            "name": "ladle",
            "title": "钢包智能体",
            "group": "logistics"
          },
          "attributes": {
            "capacity": {
              "type": "number",
              "default": 200
            },
            "refractoryLife": {
              "type": "number",
              "default": 80
            }
          },
          "variables": {
            "steelAmount": {
              "type": "number",
              "default": 0
            },
            "processStatus": {
              "type": "string",
              "default": "idle"
            }
          },
          "services": {
            "moveTo": {
              "title": "移动钢包到指定位置"
            }
          },
          "states": {
            "empty": {
              "title": "空包",
              "initialState": true
            },
            "full": {
              "title": "满包"
            }
          },
          "transitions": {
            "emptyToReceiving": {
              "from": "empty",
              "to": "receiving",
              "trigger": {
                "type": "event",
                "name": "beginLoad"
              }
            }
          },
          "goals": {
            "safeHandling": {
              "priority": 100
            },
            "timelyDelivery": {
              "priority": 80
            }
          },
          "decisionPolicies": {
            "defaultOperationalMode": {
              "preferredMode": "reflex",
              "plan": "deliveryAdjustment"
            }
          },
          "memory": {
            "currentAssignment": {
              "type": "object"
            }
          },
          "plans": {
            "deliveryAdjustment": {
              "allowedServices": [
                "assignTargetLocation",
                "moveTo"
              ]
            }
          }
        }
      }
    }
  }
}
