{
  "openapi": "3.0.3",
  "info": {
    "title": "Agent Studio API - Services",
    "version": "1.0.0",
    "description": "Agent Studio RESTful API"
  },
  "servers": [
    {
      "url": "https://api.agent-studio.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Services",
      "description": "Invoke agent services"
    }
  ],
  "paths": {
    "/instances/{instanceId}/services/{serviceName}": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Invoke service",
        "operationId": "invokeService",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceInvocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInvocationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "total": {
            "type": "integer",
            "example": 100
          }
        },
        "required": [
          "limit",
          "offset",
          "total"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "CAPACITY_EXCEEDED"
              },
              "message": {
                "type": "string",
                "example": "Current steel amount exceeds capacity limit."
              },
              "details": {
                "type": "object"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ServiceInvocationRequest": {
        "type": "object",
        "properties": {
          "parameters": {
            "type": "object",
            "description": "Service-specific parameters derived from model.json",
            "example": {
              "weight": 150,
              "temperature": 1650,
              "steelGrade": "Q235B"
            }
          }
        },
        "required": [
          "parameters"
        ]
      },
      "ServiceInvocationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "装载成功"
          },
          "result": {
            "type": "object",
            "description": "Service-specific return values",
            "example": {
              "loadedAmount": 150,
              "totalAmount": 150
            }
          }
        },
        "required": [
          "success"
        ]
      }
    }
  }
}